*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    overflow-x: hidden;
    background-color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;

}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.navbar {
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 7vh;
    background: #272727;
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid white;
}

.navbar__list {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.navbar__list--item {
    cursor: pointer;
    font-size: 2.4rem;
    text-align: center;
    color: #B0B0B0;
    transition: color .2s ease-in-out;

}

.navbar__list--item:hover {
    color: white;
}

.navbar__list--item:after {
    display: block;
    content: '';
    border-bottom: 2px solid white;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform .2s ease-in-out;
}

.navbar__list--item:hover:after {
    transform: scaleX(1)
}

.active {
    color: white;
}

.image-shadow {
    filter: drop-shadow(-10px 0px 20px rgba(0, 0, 0, 0.15));
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
}

.image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

#main-photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom-in 2s ease-in-out forwards;
}

.main-section {
    position: relative;
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container { 
    width: 100vw;
    padding: 5rem;
}
.page-header, .page-name {
    font-weight: 500;
    font-size: 11rem;
    letter-spacing: 5px;
    color: white;
}
.page-header { 
    animation: slide-in .5s ease-in-out;
}

.page-title {
    font-size: 6.4rem;
    font-weight: 500;
    color: #B0B0B0;
    opacity: 0; 
    animation: slide-up .5s .7s ease-in-out forwards;
}

.about-me {
    position: absolute;
    left: 0;
    bottom: 10vh;
    margin: 0 10rem;
    text-align: justify;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 2px;
    color: white;
    opacity: 0;
    animation: slide-up .5s 1.2s linear forwards;
}


.cards-container { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin: 2rem auto;

}
.card { 
    cursor: pointer;
    position: relative;
    width: 30rem; 
    margin: 3rem;
    height: 45rem; 
    background-color: #272727;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}
.card-image { 
    position: absolute;
    z-index: 2;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #272727;
    opacity: 0.9;
}
.card-title { 
    position: absolute;
    z-index: 3;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Poppins", sans-serif; 
    font-size: 4rem;
    font-weight: 500;
}
.card img { 
    z-index: 1;
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    /* object-fit: cover; */
}


.technologies-container { 
    display: grid; 
    padding: 5rem;

    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "title title title title title"
                        "description description html css react"
                        "description description gatsby js python";
    gap: 5rem;
}
#technologies-title { 
    grid-area: title;
}
#skills-description { 
    grid-area: description;
    color: white; 
    font-weight: 100;
    font-size: 2.4rem; 
    text-align: justify;
    letter-spacing: 0.04em;
}
#html { 
    grid-area: html;
}
#css { 
    grid-area: css; 
}
#react {
    grid-area: react; 
}
#gatsby { 
    grid-area: gatsby;
}
#python { 
    grid-area: python; 
}
#js { 
    grid-area: js; 
}
.technology-card { 
    width: 30rem; 
    height: 40rem; 
    background-color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); 
    cursor: pointer;
}

.technology-card__image {
    width: 100%; 
    height: 80%; 
    position: relative;

}
.technology-card__text-container {
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.72); 
    display: flex; 
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.technology-card__title { 
    color: white; 
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}
.technology-card__image img {
    object-fit: cover;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}


@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    75% {
        transform: translateX(5%);
        opacity: .9;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(30%);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }

}

@keyframes zoom-in { 
    from { 
        transform: scale(1);
    }
    to { 
        transform: scale(1.02); 
    }
}